{% extends "base.html.twig" %}
{% set pageId = "register" %}


{% block main %}
    <h1 class="page__title">Inscription</h1>

    {{ form_start(form) }}
        <div class="form__status">
            {{ form_errors(form) }}
        </div>

        <div class="form__row">
            {{ form_row(form.username) }}
        </div>
        <div class="form__row">
            {{ form_row(form.email) }}
        </div>
        <div class="form__row">
            {{ form_row(form.password) }}
        </div>
        <button class="btn btn--fit" type="submit">Créer mon compte</button>
    {{ form_end(form) }}

    <a class="link" href="{{ path('login') }}">J'ai déjà un compte</a>
{% endblock %}
