{% extends "base.html.twig" %}
{% set pageId = "register" %}


{% block main %}
    {{ form_start(form) }}
        <div class="form__errors">
            {{ form_errors(form) }}
        </div>

        <div class="form__row">
            {{ form_row(form.username, {
                label: "Nom d'utilisateur"
            }) }}
        </div>
        <div class="form__row">
            {{ form_row(form.email, {
                label: "Adresse email"
            }) }}
        </div>
        <div class="form__row">
            {{ form_row(form.password, {
                label: "Mot de passe"
            }) }}
        </div>
        <button class="btn btn--fit" type="submit">Créer mon compte</button>
    {{ form_end(form) }}

    <a class="link" href="/connexion">J'ai déjà un compte</a>
{% endblock %}
