{% extends "base.html.twig" %}


{% block main %}
    <img alt="Banner of the website" class="home__banner" loading="lazy" src="{{ asset('assets/images/home/banner.webp') }}">

    <div class="tricks__list">
        <div class="tricks__item">
            <img alt="" class="trick__image" loading="lazy" src="{{ asset('assets/images/tricks/grab_mute.webp') }}">
            <span class="trick__name">Grab / Mute</span>
            <div class="trick__action">
                <i class="ri-pencil-line"></i>
                <i class="ri-delete-bin-line"></i>
            </div>
        </div>
        <div class="tricks__item">
            <img alt="" class="trick__image" loading="lazy" src="{{ asset('assets/images/tricks/grab_mute.webp') }}">
            <span class="trick__name">Grab / Mute</span>
            <div class="trick__action">
                <i class="ri-pencil-line"></i>
                <i class="ri-delete-bin-line"></i>
            </div>
        </div>
        <div class="tricks__item">
            <img alt="" class="trick__image" loading="lazy" src="{{ asset('assets/images/tricks/grab_mute.webp') }}">
            <span class="trick__name">Grab / Mute</span>
            <div class="trick__action">
                <i class="ri-pencil-line"></i>
                <i class="ri-delete-bin-line"></i>
            </div>
        </div>
        <div class="tricks__item">
            <img alt="" class="trick__image" loading="lazy" src="{{ asset('assets/images/tricks/grab_mute.webp') }}">
            <span class="trick__name">Grab / Mute</span>
            <div class="trick__action">
                <i class="ri-pencil-line"></i>
                <i class="ri-delete-bin-line"></i>
            </div>
        </div>
        <div class="tricks__item">
            <img alt="" class="trick__image" loading="lazy" src="{{ asset('assets/images/tricks/grab_mute.webp') }}">
            <span class="trick__name">Grab / Mute</span>
            <div class="trick__action">
                <i class="ri-pencil-line"></i>
                <i class="ri-delete-bin-line"></i>
            </div>
        </div>
        <div class="tricks__item">
            <img alt="" class="trick__image" loading="lazy" src="{{ asset('assets/images/tricks/grab_mute.webp') }}">
            <span class="trick__name">Grab / Mute</span>
            <div class="trick__action">
                <i class="ri-pencil-line"></i>
                <i class="ri-delete-bin-line"></i>
            </div>
        </div>
        <div class="tricks__item">
            <img alt="" class="trick__image" loading="lazy" src="{{ asset('assets/images/tricks/grab_mute.webp') }}">
            <span class="trick__name">Grab / Mute</span>
            <div class="trick__action">
                <i class="ri-pencil-line"></i>
                <i class="ri-delete-bin-line"></i>
            </div>
        </div>
        <div class="tricks__item">
            <img alt="" class="trick__image" loading="lazy" src="{{ asset('assets/images/tricks/grab_mute.webp') }}">
            <span class="trick__name">Grab / Mute</span>
            <div class="trick__action">
                <i class="ri-pencil-line"></i>
                <i class="ri-delete-bin-line"></i>
            </div>
        </div>
        <div class="tricks__item">
            <img alt="" class="trick__image" loading="lazy" src="{{ asset('assets/images/tricks/grab_mute.webp') }}">
            <span class="trick__name">Grab / Mute</span>
            <div class="trick__action">
                <i class="ri-pencil-line"></i>
                <i class="ri-delete-bin-line"></i>
            </div>
        </div>

        <button class="btn">Load more</button>
    </div>
{% endblock %}