{% extends "base.html.twig" %}
{% set pageId = "home" %}


{% block main %}
    <div class="home__banner">
        <img alt="Banner of the website" class="banner__image" loading="lazy" src="{{ asset('assets/images/home/banner.webp') }}">
        <span class="banner__text">Entrainez-vous à devenir le meilleur snowboarder !</span>
        <a class="banner__arrow link" href="#tricks__list">
            <i class="ri-arrow-down-line"></i>
        </a>
    </div>

    <div class="messages__list" id="home__messages">
        {% for label, messages in app.flashes(["success", "warning"]) %}
            {% for message in messages %}
                <span class="message message--{{ label }}">{{ message }}</span>
            {% endfor %}
        {% endfor %}
    </div>

    {% if app.user == true %}
        <a class="btn home__btn__create" href="{{ path('trick_create') }}">
            <i class="ri-add-line"></i>
            <span>Ajouter un trick</span>
        </a>
    {% endif %}

    <div id="tricks__list">
        {% for tricks in tricksData %}
            <div class="tricks__item" id="{{ tricks.trick.name }}">
                <img alt="Illustration of a {{ tricks.trick.name }}" class="trick__image" loading="lazy" src="{{ tricks.cover.path }}">
                <div class="trick__informations">
                    <a class="link link--secondary" href="{{ path('trick_presentation', {trickSlug: tricks.trick.slug}) }}">
                        <span class="trick__name">{{ tricks.trick.name }}</span>
                    </a>
                    {% if app.user == true %}
                        <div class="trick__action">
                            <a class="link link--icon" href="">
                                <i class="ri-pencil-line"></i>
                            </a>
                            <a class="link link--icon trick__delete" data-url="{{ path('trick_delete', {trickSlug: tricks.trick.slug}) }}" href="#{{ tricks.trick.name }}">
                                <i class="ri-delete-bin-line"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        {% if tricksData is empty %}
            <span>Aucun trick n'a été écrit pour le moment...</span>
        {% elseif tricksData | length > 15 %}
            <div class="tricks__break"></div>
            <button class="btn btn--secondary btn__tricks">
                <i class="ri-refresh-line"></i>
                <span>Charger plus</span>
            </button>
        {% else %}
            <div class="tricks__break"></div>
        {% endif %}        
    </div>

    <a class="hide tricks__arrow link" href="#tricks__list">
        <i class="ri-arrow-up-line"></i>
    </a>
{% endblock %}