{% extends "base.html.twig" %}


{% block main %}
    <div class="home__banner">
        <img alt="Banner of the website" class="banner__image" loading="lazy" src="{{ asset('assets/images/home/banner.webp') }}">
        <span class="banner__text">Lorem, ipsum dolor.</span>
        <a class="banner__arrow link" href="#tricks__list">
            <i class="ri-arrow-down-line"></i>
        </a>
    </div>

    <div id="tricks__list">
        <div class="tricks__item">
            <img alt="" class="trick__image" loading="lazy" src="{{ asset('assets/images/tricks/trick_placeholder.webp') }}">
            <div class="trick__informations">
                <span class="trick__name">Grab / Mute</span>
                <div class="trick__action">
                    <i class="ri-pencil-line"></i>
                    <i class="ri-delete-bin-line"></i>
                </div>
            </div>
        </div>
        <div class="tricks__item">
            <img alt="" class="trick__image" loading="lazy" src="{{ asset('assets/images/tricks/trick_placeholder.webp') }}">
            <div class="trick__informations">
                <span class="trick__name">Grab / Mute</span>
                <div class="trick__action">
                    <i class="ri-pencil-line"></i>
                    <i class="ri-delete-bin-line"></i>
                </div>
            </div>
        </div>
        <div class="tricks__item">
            <img alt="" class="trick__image" loading="lazy" src="{{ asset('assets/images/tricks/trick_placeholder.webp') }}">
            <div class="trick__informations">
                <span class="trick__name">Grab / Mute</span>
                <div class="trick__action">
                    <i class="ri-pencil-line"></i>
                    <i class="ri-delete-bin-line"></i>
                </div>
            </div>
        </div>
        <div class="tricks__item">
            <img alt="" class="trick__image" loading="lazy" src="{{ asset('assets/images/tricks/trick_placeholder.webp') }}">
            <div class="trick__informations">
                <span class="trick__name">Grab / Mute</span>
                <div class="trick__action">
                    <i class="ri-pencil-line"></i>
                    <i class="ri-delete-bin-line"></i>
                </div>
            </div>
        </div>
        <div class="tricks__item">
            <img alt="" class="trick__image" loading="lazy" src="{{ asset('assets/images/tricks/trick_placeholder.webp') }}">
            <div class="trick__informations">
                <span class="trick__name">Grab / Mute</span>
                <div class="trick__action">
                    <i class="ri-pencil-line"></i>
                    <i class="ri-delete-bin-line"></i>
                </div>
            </div>
        </div>
        <div class="tricks__item">
            <img alt="" class="trick__image" loading="lazy" src="{{ asset('assets/images/tricks/trick_placeholder.webp') }}">
            <div class="trick__informations">
                <span class="trick__name">Grab / Mute</span>
                <div class="trick__action">
                    <i class="ri-pencil-line"></i>
                    <i class="ri-delete-bin-line"></i>
                </div>
            </div>
        </div>
        <div class="tricks__item">
            <img alt="" class="trick__image" loading="lazy" src="{{ asset('assets/images/tricks/trick_placeholder.webp') }}">
            <div class="trick__informations">
                <span class="trick__name">Grab / Mute</span>
                <div class="trick__action">
                    <i class="ri-pencil-line"></i>
                    <i class="ri-delete-bin-line"></i>
                </div>
            </div>
        </div>
        <div class="tricks__item">
            <img alt="" class="trick__image" loading="lazy" src="{{ asset('assets/images/tricks/trick_placeholder.webp') }}">
            <div class="trick__informations">
                <span class="trick__name">Grab / Mute</span>
                <div class="trick__action">
                    <i class="ri-pencil-line"></i>
                    <i class="ri-delete-bin-line"></i>
                </div>
            </div>
        </div>
        <div class="tricks__item">
            <img alt="" class="trick__image" loading="lazy" src="{{ asset('assets/images/tricks/trick_placeholder.webp') }}">
            <div class="trick__informations">
                <span class="trick__name">Grab / Mute</span>
                <div class="trick__action">
                    <i class="ri-pencil-line"></i>
                    <i class="ri-delete-bin-line"></i>
                </div>
            </div>
        </div>
        <div class="tricks__item">
            <img alt="" class="trick__image" loading="lazy" src="{{ asset('assets/images/tricks/trick_placeholder.webp') }}">
            <div class="trick__informations">
                <span class="trick__name">Grab / Mute</span>
                <div class="trick__action">
                    <i class="ri-pencil-line"></i>
                    <i class="ri-delete-bin-line"></i>
                </div>
            </div>
        </div>

        <div class="tricks__break"></div>

        <button class="btn">Load more</button>
    </div>
{% endblock %}