<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SnowTricks{% endblock %}</title>
    <link href="{{ asset('assets/node_modules/remixicon/fonts/remixicon.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/styles/style.css') }}" rel="stylesheet">
</head>
<body>
    <header class="header__block">
        <img alt="Logo of the website" class="header__logo" loading="lazy" src="{{ asset('assets/images/logo.webp') }}">
        <nav class="header__nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="#">Home</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Sign in</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Sign up</a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="main__block">
        {% block main %}{% endblock %}
    </main>

    <footer class="footer__block">
        <span class="footer__copyright">© SnowTricks {{ "now" | date("Y") }}</span>
    </footer>

    <script src="{{ asset('assets/scripts/script.js') }}" type="module"></script>
</body>
</html>
