{% set route_name = app.request.attributes.get("_route") %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{% block title %}SnowTricks{% endblock %}</title>
    <link href="{{ asset('assets/node_modules/remixicon/fonts/remixicon.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/styles/style.css') }}" rel="stylesheet">
</head>
<body>
    <header class="header__block">
        <h1 class="header__logo">SnowTricks</h1>
        <nav class="header__nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a {% if route_name == "home" %}class="link link--active"{% else %}class="link"{% endif %} href="{{ path('home') }}">Accueil</a>
                </li>
                {% if app.user == false %}
                    <li class="nav__item">
                        <a {% if route_name == "login" %}class="link link--active"{% else %}class="link"{% endif %} href="{{ path('login') }}">Se connecter</a>
                    </li>
                    <li class="nav__item">
                        <a {% if route_name == "register" %}class="link link--active"{% else %}class="link"{% endif %} href="{{ path('register') }}">S'inscrire</a>
                    </li>
                {% else %}
                    <li class="nav__item">
                        <a {% if route_name == "logout" %}class="link link--active"{% else %}class="link"{% endif %} href="{{ path('logout') }}">Se déconnecter</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main class="main__block" id="{{ pageId }}">
        {% block main %}{% endblock %}
    </main>

    <footer class="footer__block">
        <span class="footer__copyright">© SnowTricks {{ "now" | date("Y") }}</span>
        <div class="footer__mobile">
            <a class="link link--icon" href="{{ path('home') }}">
                <i class="ri-home-2-fill"></i>
            </a>
            {% if app.user == false %}
                <a class="link link--icon" href="{{ path('login') }}">
                    <i class="ri-login-box-fill"></i>
                </a>
                <a class="link link--icon" href="{{ path('register') }}">
                    <i class="ri-user-add-line"></i>
                </a>
            {% else %}
                <a class="link link--icon" href="{{ path('logout') }}">
                    <i class="ri-login-box-line"></i>
                </a>
            {% endif %}
        </div>
    </footer>

    <script src="{{ asset('assets/scripts/script.js') }}" type="module"></script>
</body>
</html>
