{% extends "base.html.twig" %}
{% set pageId = "trick_create" %}


{% block main %}
    <h1 class="page__title">Création d'une trick</h1>
    
    {{ form_start(form) }}
        <div class="form__status">
            {{ form_errors(form) }}
        </div>

        <div class="form__row">
            {{ form_row(
                form.name, {
                    label: "Nom"
                }) 
            }}
        </div>
        <div class="form__row">
            {{ form_row(
                form.description, {
                    label: "Description"
                }) 
            }}
        </div>
        <div class="form__row">
            {{ form_row(
                form.idTrickGroup, {
                    label: "Groupe"
                }) 
            }}
        </div>
        <button class="btn btn--fit" type="submit">Ajouter le trick</button>
    {{ form_end(form) }}
{% endblock %}
