{% extends "base.html.twig" %}
{% set pageId = "trick_edit" %}
{% set placeholderPath = "assets/images/tricks/placeholder/trick_placeholder.webp" %}


{% block main %}
    <form method="post">
        <div class="trick__header">
            <img class="trick__featured" src="{{ asset(data.featured) }}">
            <div class="trick__action">
                {% if data.featured != placeholderPath %}
                    <a class="link link--icon" href="#">
                        <i class="ri-delete-bin-2-line"></i>
                    </a>
                {% else %}
                    <div class="form__row">
                        <div class="form__block">
                            <label class="required">Image à la une</label>
                            <input type="file">
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="trick__container">
            <div class="form__row">
                <div class="form__block form__block--full">
                    <label class="required">Nom</label>
                    <input class="trick__name" required value="{{ data.name }}">
                </div>
            </div>
            <div class="form__row">
                <div class="form__block form__block--full">
                    <label class="required">Description</label>
                    <textarea required>{{ data.description }}</textarea>
                </div>
            </div>
            <div class="form__row">
                <div class="form__block form__block--full">
                    <label class="required">Groupe</label>
                    <select required>
                        {% for group in trickGroups %}
                            {% if group.id == data.category %}
                                <option selected value="{{ group.id }}">{{ group.name }}</option>
                            {% else %}
                                <option value="{{ group.id }}">{{ group.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form__row">
                <div class="form__block form__block--full">
                    <label>URL de vos vidéos (Dailymotion, Youtube) une par ligne</label>
                    <textarea>{{ data.embed }}</textarea>
                </div>
            </div>
            <div class="form__row">
                <div class="form__block form__block--full">
                    <label>Illustrations et vidéos</label>
                    <input multiple type="file">
                </div>
            </div>
        </div>

        <button class="btn" type="submit">Sauvegarder les modifications</button>
    </form>

    <div>
        <a class="link" href="{{ path('trick_presentation', {trickSlug: data.slug}) }}">Retourner sur le trick</a>
    </div>
{% endblock %}
