{% extends "base.html.twig" %}
{% set pageId = "trick_edit" %}


{% block main %}
    <h1 class="page__title">Modification du trick</h1>

    {% for label, messages in app.flashes(["success", "warning"]) %}
        {% for message in messages %}
            <span class="message message--{{ label }}">{{ message }}</span>
        {% endfor %}
    {% endfor %}

    {{ form_start(form) }}
        <div class="form__status">
            {{ form_errors(form) }}
        </div>

        <div class="form__row">
            {{ form_row(form.name, {
                'value': data.name
            }) }}
        </div>
        <div class="form__row">
            {{ form_row(form.description, {
                'value': data.description
            }) }}
        </div>
        <div class="form__row">
            {{ form_row(form.idTrickGroup, {
                'value': data.category
            }) }}
        </div>
        <div class="form__row">
            {{ form_row(form.mediasEmbed, {
                'value': data.embed
            }) }}
        </div>
        <div class="form__row">
            {{ form_row(form.medias, {
                'value': "test"
            }) }}
        </div>

        <img alt="Featured" class="trick__featured--edit" loading="lazy" src="{{ asset(data.featured) }}">
        {{ form_row(form.featured) }}
        {% if data.featured != "assets/images/tricks/placeholder/trick_placeholder.webp" %}
            <div class="form__row">
                <div class="form__row form__row--inline">
                    <label for="delete_featured">Retirer l'image à la une</label>
                    <input id="delete_featured" name="delete_featured" type="checkbox">
                </div>
            </div>
        {% endif %}
        
        <button class="btn btn--fit" type="submit">Sauvegarder les modifications</button>
        <a class="btn btn--secondary trick__delete" data-url="{{ path('trick_delete', {trickSlug: data.slug}) }}" href="#">Supprimer le trick</a>
    {{ form_end(form) }}
{% endblock %}
