{% extends "base.html.twig" %}
{% set pageId = "trick_presentation" %}
{% set featuredMedia = data.medias | filter(media => media.featured) | first %}
{% set placeholderPath = "assets/images/tricks/placeholder/trick_placeholder.webp" %}


{% block main %}
    <div class="trick__header">
        <img class="trick__featured" src="{{ asset(featuredMedia.path) }}">
        <span class="trick__name">{{ data.trick.name }}</span>
        {% if app.user == true %}
            <div class="trick__action">
                <a class="link link--icon" href="{{ path('trick_edit', {trickSlug: data.trick.slug}) }}">
                    <i class="ri-pencil-line"></i>
                </a>
                <a class="link link--icon trick__delete" data-url="{{ path('trick_delete', {trickSlug: data.trick.slug}) }}" href="#">
                    <i class="ri-delete-bin-line"></i>
                </a>
            </div>
        {% endif %}
    </div>

    <div class="trick__container">
        {% for label, messages in app.flashes(["success", "warning"]) %}
            {% for message in messages %}
                <span class="message message--{{ label }}">{{ message }}</span>
            {% endfor %}
        {% endfor %}
        <div class="trick__medias">
            {% for media in data.medias %}
                {% if media.path and media.type == "image" and media.path != placeholderPath and media.featured == false %}
                    <div class="trick__media__card">
                        <img class="trick__media trick__media__modal" loading="lazy" src="{{ asset(media.path) }}">
                        {% if app.user == true %}
                            <a class="link link--icon media__delete" data-url="{{ path('media_delete', {mediaId: media.id}) }}" href="#">
                                <i class="ri-delete-bin-line"></i>
                            </a>
                        {% endif %}
                    </div>
                {% elseif media.path and media.type == "video" %}
                    <div class="trick__media__card">
                        <video class="trick__media trick__media__modal" controls>
                            <source src="{{ asset(media.path) }}">
                        </video>
                        {% if app.user == true %}
                            <a class="link link--icon media__delete" data-url="{{ path('media_delete', {mediaId: media.id}) }}" href="#">
                                <i class="ri-delete-bin-line"></i>
                            </a>
                        {% endif %}
                    </div>
                {% elseif media.type == "embed" %}
                    <div class="trick__media__card">
                        <iframe class="trick__media" src="{{ media.src }}"></iframe>
                        {% if app.user == true %}
                            <a class="link link--icon media__delete" data-url="{{ path('media_delete', {mediaId: media.id}) }}" href="#">
                                <i class="ri-delete-bin-line"></i>
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <p class="trick__description">
            {{ data.trick.description }}
        </p>

        <div class="trick__badges">
            <div class="trick__badge">
                <span class="badge__title">Groupe</span>
                <span class="badge__value">{{ data.trick.idTrickGroup }}</span>
            </div>
            <div class="trick__badge">
                <span class="badge__title">Crée le</span>
                <span class="badge__value">{{ data.trick.createdAt | date("d/m/Y à h:i:s") }}</span>
            </div>
            <div class="trick__badge">
                <span class="badge__title">Modifié le</span>
                <span class="badge__value">{{ data.trick.updatedAt | date("d/m/Y à h:i:s") }}</span>
            </div>
        </div>
    </div>

    <div class="hide trick__modal">
        <span class="trick__modal__close">&times;</span>
        <div class="trick__modal__content">
            <img class="trick__modal__image">
            <video autoplay class="trick__modal__video" controls></video>
        </div>
    </div>
{% endblock %}